First, we construct a DataFrame object with an index of tuples consisting of all pairs of possible dice outcomes.

In [10]:
from pandas import DataFrame

d = DataFrame(index = [(i, j) for i in range(1, 7) for j in range(1, 7)],
              columns = ['sm', 'd1', 'd2', 'pd1', 'pd2', 'p'])

Now, we can populate the columns that we set up above where the outcome of the
first die is the d1 column and the outcome of the second die is d2.

In [11]:
d.d1 = [i[0] for i in d.index]
d.d2 = [i[1] for i in d.index]

Next, we compute the sum of the dices in the sm column,

In [12]:
d.sm = list(map(sum, d.index))

With that established, the DataFrame now looks like the following:

In [14]:
d.head(5)

        sm  d1  d2  pd1  pd2    p
(1, 1)   2   1   1  NaN  NaN  NaN
(1, 2)   3   1   2  NaN  NaN  NaN
(1, 3)   4   1   3  NaN  NaN  NaN
(1, 4)   5   1   4  NaN  NaN  NaN
(1, 5)   6   1   5  NaN  NaN  NaN

Next, we fill out the probabilities for each face of the unfair die (d1) and the fair die (d2).

In [15]:
d.loc[d.d1 <= 3, 'pd1'] = 1/9.
d.loc[d.d1 >  3, 'pd1'] = 2/9.
d.pd2 = 1/6.
d.head(10)

        sm  d1  d2       pd1       pd2    p
(1, 1)   2   1   1  0.111111  0.166667  NaN
(1, 2)   3   1   2  0.111111  0.166667  NaN
(1, 3)   4   1   3  0.111111  0.166667  NaN
(1, 4)   5   1   4  0.111111  0.166667  NaN
(1, 5)   6   1   5  0.111111  0.166667  NaN
(1, 6)   7   1   6  0.111111  0.166667  NaN
(2, 1)   3   2   1  0.111111  0.166667  NaN
(2, 2)   4   2   2  0.111111  0.166667  NaN
(2, 3)   5   2   3  0.111111  0.166667  NaN
(2, 4)   6   2   4  0.111111  0.166667  NaN

Finally, we can compute the joint probabilities for the sum of the shown faces as the
following:

In [16]:
d.p = d.pd1 * d.pd2
d.head(10)

        sm  d1  d2       pd1       pd2          p
(1, 1)   2   1   1  0.111111  0.166667  0.0185185
(1, 2)   3   1   2  0.111111  0.166667  0.0185185
(1, 3)   4   1   3  0.111111  0.166667  0.0185185
(1, 4)   5   1   4  0.111111  0.166667  0.0185185
(1, 5)   6   1   5  0.111111  0.166667  0.0185185
(1, 6)   7   1   6  0.111111  0.166667  0.0185185
(2, 1)   3   2   1  0.111111  0.166667  0.0185185
(2, 2)   4   2   2  0.111111  0.166667  0.0185185
(2, 3)   5   2   3  0.111111  0.166667  0.0185185
(2, 4)   6   2   4  0.111111  0.166667  0.0185185

With all that established, we can compute the density of all the dice outcomes by
using groupby as in the following.

In [19]:
d.groupby('sm')['p'].sum()

sm
2     0.018519
3     0.037037
4     0.055556
5     0.092593
6     0.129630
7     0.166667
8     0.148148
9     0.129630
10    0.111111
11    0.074074
12    0.037037
Name: p, dtype: float64

In [20]:
sum(d.groupby('sm')['p'].sum())

1.0